body {
  background-color: #f4f2ee;
}
svg {
  width: 20px;
  cursor: pointer;
}
.navbar {
  height: 53px;
}
.show:hover {
  background: "";
}
.navbar svg {
  width: 27px !important;
  fill: #666666;
}
.navbar svg:hover {
  fill: black;
}
.navbar button {
  border: none;
  background-color: none;
}
.navbar button:hover {
  border: none;
  background-color: none;
}
.pen-icon {
  top: -15px;
}
/* .show:hover {
  background-color: lightgray;
} */
.btn-outline-dark {
  --bs-btn-hover-bg: lightgray !important;
  --bs-btn-hover-color: black !important;
}
.text-frend {
  top: 48px;
  width: 100%;
}
.frend-big {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.44);
  z-index: 2;
}
.frend-scroll {
  overflow: auto;
  height: 70vh;
}
.notScroll {
  overflow: hidden;
  height: 100vh;
}
.add-coll {
  fill: white !important;
}
.drop-tu {
  transform: translate(-195px, 3px);
  width: 265px;
}
.fs7 {
  font-size: 12px;
}
.mb-n {
  margin-bottom: -5px;
}
